*{ 
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
}

.contain {
  width: 1250px;
  margin: auto;
}

.header {
background-color: rgba(246, 77, 39, 0.2);
padding: 100px 0px;
}

.header__nav {  
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav__left,
.header__nav__list {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__nav__link {

/* base/bold */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */
display: flex;
align-items: center;

/* gray/800 */
color: #424551;

}


.header__nav__item :hover {
  color: #F75E05;
  transition: 0.5s;
}

.header__nav__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.button__get {
/* btn/solid/large */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 40px;
gap: 10px;

width: 206px;
height: 52px;

/* btn-gradient */
background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
border-radius: 4px;
border: none;




/* Get consultation */

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 52px;


color: #fff;
}

.header__nav__right :hover {
  opacity: 0.7;
}

.nav__right__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav__right__text {

/* base/bold */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */
display: flex;
align-items: center;

/* gray/800 */
color: #424551;

}

.study_div {
  padding: 150px 0px;
  display: flex;
  align-items: center;
  gap: 180px;
}

.showreel__icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.showreel__icon {
  color: red;
}

.play__showreel {

/* small/bold */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;

/* gray/900 */
color: #1E212C;

}


.study__title {
margin: 30px;
width: 496px;

/* display/2 */
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 130%;
/* or 83px */
display: flex;
align-items: center;
letter-spacing: 1px;

/* gray/900 */
color: #1E212C;

}

.study__buttons {
  display :flex;
  align-items: center;
  gap: 15px;
}

.study__buttons :hover {
  opacity: 0.7;
}

.study__button,
.more_button {
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
padding: 0px 40px;
justify-content: center;
background-color: red;
border: none;

/* btn-gradient */
border-radius: 4px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 52px;
/* identical to box height, or 325% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.5px;

/* white */
color: #FFFFFF;

}

.study__left {
  background-color: inherit;
  border: 1px solid red;
  color: red;
}



.student_nums {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.static_text {
/* base/regular
main body text
*/

display: flex;
align-items: center;
gap: 12px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */
display: flex;
align-items: center;

/* gray/900 */
color: #1E212C;


}

.static_text span {

/* h1 */
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */

/* gray/900 */
color: #1E212C;

}


.intro__div {
  display: flex;
  padding: 150px 0px;
  align-items: flex-start;
  gap: 135px;
}

.why__createx {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top__text__why {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */
color: #1E212C;
}

.title__why {

/* h1 */
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */

/* gray/900 */
color: #1E212C;

}

.check {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  align-items: flex-start;

}

.check__items {
  display: flex;
  align-items: start;
  gap: 10px;
  
}

.check__text {
width: 358px;
height: 52px;
margin-top: -5px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */

/* gray/800 */
color: #424551;

}




.courses__toptext {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */
color: #1E212C;


}

.courses__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses__title {
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */

/* gray/900 */
color: #1E212C;

}

.cards__div {
padding: 60px 0px;
display: flex;
flex-wrap: wrap;
gap: 36px;

}

.card {
  display: flex;
  border-radius: 5px;
  background-color: #fdfbf6;
  align-items: center;
  gap: 32px;
  width: 600px;
  height: 214px;
  /* white */
  background: #FFFFFF;
  /* gray/300 */
  border: 0.1px solid #E5E8ED;
  /* shadow/small */
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 7px;

}
.card__type {
display: flex;
flex-direction: row;
align-items: center;
padding: 1px 8px;
gap: 10px;
justify-content: center;
width: 79px;
height: 23px;

/* success */
background: #03CEA4;
border-radius: 4px;



font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* white */
color: #FFFFFF;


}

.card__title {
width: 322px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
/* or 30px */

/* gray/900 */
color: #1E212C;
margin: 20px;
margin-left: 0px;

}

.card__life {
display: flex;
align-items: center;
gap: 5px;

}

.card__life span {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

/* danger */
color: #FF4242;


}

.card__name {

/* large/regular */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

/* gray/700 */
color: #787A80;

}


.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 180px 0px;
}

.benefits__toptext {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */
color: #1E212C;

}

.benefits__title {
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */
text-align: center;

/* gray/900 */
color: #1E212C;

}

.benefits__navbar {
  display: flex;
  margin: 50px;
}



.tab__link {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #fff;
  padding: 5px 30px;
  border-radius: 5px;
}

.tab__text :hover {
  border: 1px solid #F75E05;
  color: #F75E05;
  transition: 0.3s;
}

.tab__link {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9A9CA5;
}

.benefits__icons {
  border: 1px solid transparent;
}

.benefit__practicing {
  display: flex;
  align-items: center;
  gap: 135px;
}

.practicing__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.practicing__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  /* identical to box height, or 42px */

  /* gray/900 */
  color: #1E212C;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}

.practicing__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  /* gray/800 */
  color: #424551;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

}














