/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header__nav__linkcourses {
  color: red;
}

.header__div {
  padding: 120px 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.header__divtoptext {

  width: 69px;
  height: 24px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 1px;
  text-transform: uppercase;

  /* primary */
  color: #FF3F3A;


}

.header__divtitle {

  width: 1020px;
  height: 120px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  /* or 60px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;

  /* gray/900 */
  color: #1E212C;


}

.practicing__text {

  width: 600px;
  height: 156px;

  /* base/regular

  main body text
  */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  /* gray/800 */
  color: #424551;


}

.section1__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
  padding: 120px 0px;
}

.about__course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.check__text{
  /* Fringilla in nec risus congue venenatis pretium posuere nec. */
width: 568px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

/* gray/800 */
color: #424551;

}

.check__items {
  margin-top: -20px;
}

.top__text__why {
  padding: 20px 0px;
}

.dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  height: 470px;
  width: 495px;

  /* white */
  background: #FFFFFF;
  /* gray/300 */
  border: 1px solid #E5E8ED;
  /* shadow/small */
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  padding: 40px 32px;

}



.dates__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.dates__titles {
  /* Price */

  width: 44px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  letter-spacing: 1px;
  text-transform: uppercase;

  /* gray/900 */
  color: #1E212C;


}

.dates__date {

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  /* primary */
  color: #FF3F3A;


}

.dates__subtext {
  /* Nulla sem adipiscing adipiscing felis fringilla. Adipiscing mauris quam ac elit tristique dis. */

  width: 429px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  /* gray/700 */
  color: #787A80;


}

.section1__div2 {
  margin-top: -100px;
}


.cody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding: 20px 0px;

}

.top__textcody {

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 1px;
  text-transform: uppercase;

  /* gray/900 */
  color: #1E212C;


}

.title__cody {

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  /* identical to box height, or 60px */

  /* gray/900 */
  color: #1E212C;

}

.sub__textcody {

  width: 371px;

  /* lead/regular */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  /* gray/700 */
  color: #787A80;


}

.cody__iconsdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.cody__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cody__itemstext {

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  /* gray/800 */
  color: #424551;


}

.cody__maintext {

  width: 600px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  /* gray/800 */
  color: #424551;


}

.cody__subicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cody__subicons :hover {
  color: red;
}



.section1__div3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.steps__toptext {

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* gray/900 */
  color: #1E212C;

}

.steps__title {

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  /* identical to box height, or 60px */
  text-align: center;

  /* gray/900 */
  color: #1E212C;

}

.steps__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.steps__icon {
  color: #D7DADD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: inherit;
}

.steps__iconnum {
  font-size: 46px;
  font-family: 'Lato';
  height: 84px;
  width: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.steps__icondiv {
  width: 285px;
}

.steps__icondiv :hover {
  color: rgb(207, 2, 2);
}

.steps__iconnumdiv {
  padding: 10px;
}

.steps__iconnumdiv :hover {
  background-color: rgba(255, 0, 0, 0.233);
}

.steps__itemtitle {

  /* lead/bold */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  /* gray/900 */
  color: #1E212C;
  margin-bottom: 8px;

}
 
.steps__itemstext {

  /* base/regular

  main body text
  */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  /* gray/700 */
  color: #787A80;
  width: 285px;
}



.section1__div4 {
  margin-top: 177px;
  background-color: rgba(246, 77, 39, 0.2);
  padding: 48px 60px;
  border-radius: 5px;
}

.titlediv__div4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.title__div4 {

  width: 418px;

  /* h2 */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  /* identical to box height, or 42px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;

  /* gray/900 */
  color: #1E212C;


}

.hour__div4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;

}

.mins__div4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.num__div4 {
  /* 06 */
  width: 24px;
  height: 26px;

  /* h5 */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  /* gray/900 */
  color: #1E212C;


}


.date__div4 {
  /* Days */

  width: 27px;
  height: 18px;

  /* extrasmall/regular */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  /* gray/900 */
  color: #1E212C;


}

.input__div4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 32px 0px 0px;
}

.input__divdiv4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.study__buttondiv4 {
  margin-top: -55px;
}

.input__titlediv4 {

  width: 59px;
  height: 21px;


  /* small/regular */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  /* gray/800 */
  color: #424551;


}


.section1__div5 {
  padding: 180px 0px;
  /* background-color: red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
}

.heading__div5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.div5__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}


.main__div6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0px;
  gap: 135px;
}

.text__div6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;;
  -webkit-box-orient: vertical;;
  -webkit-box-direction: normal;;
      -ms-flex-direction: column;;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.div6__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap:  20px;
}

.div6__itemsminus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 5px;
}

.div6__itemsproper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.div6__propertitle {
  /* Aliquet lectus urna viverra in odio. */


  height: 30px;

  /* lead/bold */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  /* gray/900 */
  color: #1E212C;



}

.div6__propertitle span ,
.div6span  {
  color: red;
}

.div6__propertitle span {
  margin-right: 10px;
}



.div6__maintext {

  width: 560px;
  height: 104px;


  /* base/regular

  main body text
  */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  /* gray/800 */
  color: #424551;


}

.div6iconplus {
  padding: 5px 0px;
}

.course__background {
  padding: 80px 0px;
  margin-top: 120px;

}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 185px;
}

.register__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 513px;
}

.section3__meet {
  padding: 120px;
}

.section3__cardsdiv {
  padding: 60px 0px;
}

.section3__subdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  gap: 40px;
}

.title__subdiv {
    /* Do you want more courses? */

  width: 344px;
  height: 42px;

  /* h3 */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  /* identical to box height, or 42px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  /* gray/900 */
  color: #1E212C;


}


